{% extends 'main.html' %}
{% load static %}

{% block title %}
   The BLog's
{% endblock  %}

{% block content %}

  <h1> {{ object.title }}</h1>

  <small>By: {{ object.author.first_name }} 
      {{ object.author.last_name }} -{{ object.post_date }}</small>-

        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href=" {% url 'update_post' object.pk %} ">Edit</a> -
                <a href=" {% url 'delete_post' object.pk %} ">Delete</a></br>
              {% endif %}
        {% endif %}

        <br>
        <hr>
     <br><br>
{{ object.body|safe }}
        <br><br>



        <!--*********Profile Section Starts here***************** -->

        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-2">
            {% if object.author.profile.profile_picture %}
              <img src="{{ object.author.profile.profile_picture.url }}" class="card-img"  >

            {% else %}
            <img src=" {% static 'images/null.jpg'  %}" width='200' height='200' alt="">

            {%endif %}

            </div>
          
       
       <div class="col-md-10">
         <div class="card-body">
           <h5 class="card-title">
            {{ object.author.first_name }} 
            {{ object.author.last_name }}
           </h5>
           <p class="small text-muted">

           <a href="{% url 'show_profile' object.author.profile.id  %}">Profile Page</a>

              {% if  object.author.profile.fb_url %}
              | <a href="{{ object.author.profile.fb_url }}">Facebook</a>
              {% endif %}

              {% if  object.author.profile.website_url %}
              |  <a href="{{ object.author.proile.website_url }}">Website</a>
              {% endif %}

              {% if  object.author.profile.twitter_url %}
              |  <a href="{{ object.author.profile.twitter_url }}">Twitter</a>
              {% endif %}

              {% if  object.author.profile.insta_url %}
              |  <a href="{{ object.author.profile.insta_url }}">Instagram</a>
              {% endif %}
          </p>

          <p class="card-text">
             {{ object.author.profile.bio }}
           </p>

        </div>
      </div>
    </div>
  </div>
        
        <br><br>
<!--*********Profile Section Ends here***************** -->


        <!--*********Comment Section Starts here***************** -->

        <h2>Comment</h2>
        {% if not object.comments.all %}
           No Comments Yet.. <a href="{% url 'add_comment' object.pk %}">Add comment</a>
        {% else %}
        <br>

        <a href="{% url 'add_comment' object.pk %}">Add comment</a>
        <br>
            {%for comment in object.comments.all %} 
          <strong>
            {{ comment.name }}
            {{ comment.date_added }}
          </strong>
          <br>
          {{ comment.body }}
          <br><br>
          
          {% endfor %}
        {% endif %}
      <br>
      
      <br>
      <hr>
      <!--*********Comment Section Ends here***************** -->


    
        <a href=" {% url 'home' %}" class="btn btn-secondary">Back</a>

    

    {% endblock  %}
