{% extends 'main.html' %}
{% block title %}Delete post{% endblock  %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == object.author.id %}
        <h1>Delete Post...</h1>
        <br><br>
        <h3>Delete: {{ object.title }}</h3>
        <br>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <strong>Are You sure?</strong><br><br>
                <button class='btn btn-secondary'>Delete Post!</button>

            </form>
        </div>
    {% else %}
        You are not allowed here..!
    {% endif %}
{% else %}
 Your are not allowed here..!
{% endif %}

{% endblock  %}